

/* button {
    width: 20%;
    height: 100px;
    background: lightblue;
    font-size: 3em;
} */

button {
    background: lightgrey;
    border: 1px solid lightgray;
    font-size: 2em;
    width: 20%;
    flex: auto;
    margin: 5px;
}

button:hover {
    border: 1px solid darkgray;
    box-shadow: 2px 2px 5px 0px lightgray;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.opsBtn {
    background: rgb(154, 170, 187);
}

#clearBtn {
    width: 45%;
    background: lightsteelblue;
}

#equalsBtn {
    background: rgb(94, 161, 228);
}

#calculator {
    border: 1px black solid;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    background: ghostwhite;
    display: flex;
    flex-direction: column;
}

#prevCalc {
    text-align: right;
    font-size: 1em;
    margin: 5px;
    padding: 0px 5px;
}

#display {
    background: white;
    text-align: right;
    font-size: 3em;
    margin: 5px;
    border: 1px solid darkgray;
    padding: 0px 5px;
}



@media (max-width: 600px){
    #calculator {
        width: 100%;
    }
}